body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 20px;
  padding: 35px;
  max-width: 1200px;

}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  border-radius: 9px;
  padding: 10px;
}

.flag{
  width: 100px;
  
}

.countryName{
  font-weight: bold;
  text-align: center;
}